---
# Set update schedule for GitHub Actions

version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    groups:
      artifact-handling:
        patterns:
          - "actions/download-artifact"
          - "actions/upload-artifact"      

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      # Check for updates to npm dependencies every week
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]


  - package-ecosystem: "docker"
    directories: 
      - "**/*"
    schedule:
      # Check for updates to Docker images every week
      interval: "weekly"
