_site/
_diffsite/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

.rbenv-version
.rvmrc
.picasa.ini
.idea/*
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Pycharm bits
.idea
.rbenv-version
.rvmrc
.picasa.ini
*.swp

# Jekyll
_theme_packages/*

# Temp files
*~
*.pyc

.vagrant
*console.log
.jekyll-metadata
.vscode/*
.jekyll-cache

## Thumbnail generator thumbs
thumbnails

## Freecad backup files
*.fcstd1
