# Jekyll output
_site/
# Ignored for webpack
dist/
node_modules
stats.json

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r.
Icon

.rbenv-version
.rvmrc
.picasa.ini
.idea/*
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Pycharm
.idea
.rbenv-version
.rvmrc
.picasa.ini
*.swp

# Jekyll
_theme_packages/*

# Temp files
*~
*.pyc

.vagrant
*console.log
.jekyll-metadata
.vscode/*
.jekyll-cache
.cache

## Thumbnail generator thumbs
thumbnails

## Freecad backup files
*.fcstd1
