# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "^_site/.*$"
repos:
# All files
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=2048]
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: destroyed-symlinks
    -   id: no-commit-to-branch
        args: ["--branch", "master", "--branch", "main"]
# Some exclusions
    -   id: trailing-whitespace
        exclude: "^.*drawio$"
    -   id: end-of-file-fixer
        exclude: "^.*drawio$"
    -   id: check-yaml
        exclude: "^.*drawio$"
    -   id: check-json
        exclude: "^.*drawio$"
    -   id: check-xml
        exclude: "^.*drawio$"
    -   id: check-toml
        exclude: "^.*drawio$"
    -   id: detect-private-key
        exclude: "^.*drawio$"
        
    # -   id: detect-aws-credentials
    #     exclude: "^.*drawio$"
    -   id: check-ast
        exclude: "^.*drawio$"
    -   id: check-shebang-scripts-are-executable
# -   repo: https://github.com/streetsidesoftware/cspell-cli
#     rev: v6.31.0
#     hooks:
#     -   id: cspell
# docker run --rm -v $PWD:/app madewithlove/htaccess-cli -p _site https://orionrobots.co.uk/wiki/usb - verified htaccess on one file. But doesnt validate whole file syntax.

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.2.1
    hooks:
      - id: editorconfig-checker
        alias: ec

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.117.0'
    hooks:
      - id: semgrep-docker
        require_serial: true
        pass_filenames: false
        args: ["ci", "--dry-run", "--baseline-commit", "HEAD"]
