# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-json
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-xml
    -   id: check-toml
    -   id: destroyed-symlinks
    -   id: detect-private-key
    -   id: detect-aws-credentials
    -   id: check-ast
    -   id: check-shebang-scripts-are-executable
