---
theme :
  name : orionrobots
---
{% include JB/setup %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="UOzBed7gLBf1xSDPmxw3r4UGsKv1KcTacRUpEwSLA9g" />
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/orion_favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }} - {{ site.tagline }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <link href="{{ ASSET_PATH }}/css/bootstrap-style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all">-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!--Fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.png">
  <!-- Update these with your own images
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <style type="text/css">
        #site-title h1 {
          font-size: 20px;
          font-weight: normal;
          line-height: 1.1;
          margin-top: 0.1em;
          margin-bottom: 0;
        }
        .navbar-brand {
          font-family: BebasNeueRegular, arial, sans-serif;
        }

        .navbar-default {
          background-image: url({{ ASSET_PATH }}/orion_header_new.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          color: white;
        }

        #tags.nav {
            line-height: 14px;
            padding: 2px 2px;
        }
      </style>
</head>
<body class="template">
    <script src="/js/cookiechoices.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(event) {
        cookieChoices.showCookieConsentBar('Cookies help us deliver our services. By using our services, you agree to our use of cookies.',
          'Got It', 'Learn More', 'https://orionrobots.co.uk/privacy_and_cookies.html');
      });
    </script>
    <!-- Header -->
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" title="Home"><img src="/favicon.png" style="display:inline-block; padding-right:2px;">Orionrobots</a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
              <ul class="nav navbar-nav">
                 {% for node in site.menu %}
                    {% if page.url == node.url %}
                        <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
                    {% else %}
                        <li><a href="{{node.url}}">{{node.title}}</a></li>
                    {% endif %}
                 {% endfor %}
              </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- Content -->
    <div class="container">
        <div class="row">
          <div id="col-main" class="content col-md-8">
            <h2 class="page-header">{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h2>
