services:
  serve:
    build:
      context: .
      dockerfile: serve.Dockerfile
    command: ["npm", "run", "serve"]
    volumes:
      - .:/app/src
      - /app/src/node_modules
    ports:
      - 8081:8081
    depends_on:
      dist:
        condition: service_completed_successfully

  dist:
    build:
      context: .
      dockerfile: serve.Dockerfile
    command: ["npm", "run", "dist"]
    volumes:
      - .:/app/src
      - /app/src/node_modules

  build:
    build:
      context: .
      dockerfile: serve.Dockerfile
    command: ["npm", "run", "11ty"]
    volumes:
      - .:/app/src
      - /app/src/node_modules
    depends_on:
      dist:
        condition: service_completed_successfully
    profiles:
      - manual

  dist_clean:
    build:
      context: .
      dockerfile: serve.Dockerfile
    volumes:
      - .:/app/src
    image: node:18-bullseye
    command: ["rm", "-rf", "dist"]
    profiles:
      - manual

  clean:
    build:
      context: .
      dockerfile: serve.Dockerfile
    volumes:
      - .:/app/src
    image: node:18-bullseye
    command: ["rm", "-rf", "_site"]
    profiles:
      - manual

  shell:
    build:
      context: .
      dockerfile: serve.Dockerfile
      target: debug
    command: ["bash"]
    volumes:
      - .:/app/src
      - /app/src/node_modules
    ports:
      - 8081:8081
    stdin_open: true
    tty: true
    profiles:
      - manual
