---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<h1>Tag Cloud</h1>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
  <a href="/tags.html#{{ tag | first | slugify }}-ref">
    {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
  </a>
</span>
{% endfor %}

{% for tag in site.tags %}
  <h2 id="{{ tag | first | slugify }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}
