---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
<h1>Tags</h1>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span>
  <a  class="badge text-bg-light" href="/tags.html#{{ tag | first | slugify }}-ref">
    {{ tag[0] | replace:'-', ' ' }} <span class="badge text-bg-info rounded-pill">{{ tag | last | size }}</span>
  </a>
</span>
{% endfor %}

{% for tag in site.tags %}
  <h2 id="{{ tag | first | slugify }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}
    {% include JB/pages_list %}
  </ul>
{% endfor %}
