<div class="container">
    <figure class="img-thumbnail">
        <img src="{{ url }}" alt="{{ description }}" class="img-fluid rounded">
        <figcaption>{{ description }}</figcaption>
    </figure>
</div>
