<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="Home"><img src="{{ BASE_PATH }}/favicon.png" width="16" height="13" style="display:inline-block; padding-right:2px;">Orionrobots</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#main-navbar-collapse-1" aria-controls="main-navbar-collapse-1" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for node in menu %}
                    <li class="nav-item {% if page.url == node.url %}active{% endif %}">
                        <a class="nav-link" href="{{node.url}}">{{node.title}}</a>
                    </li>
                {% endfor %}
            </ul>
            <form class="d-flex">
            <script async src="https://cse.google.com/cse.js?cx=partner-pub-1306094303661715:fq05xlly9cj"></script>
            <div class="gcse-searchbox"></div>
            </form>
        </div>
    </div>
</nav>
