<div class="widget widget-mailing-list" id="widget-mailing-list">

    <div class="widget-header">
      <h3>Orionrobots Robot Building News</h3>
    </div>


    <div class="widget-content">
      <p>The latest news about robot building - cool builds, products and developments.</p>
    </div>


    <form action="http://myshopify.us5.list-manage.com/subscribe/post?u=d81fb5a81e1405d8553659924&amp;id=8154bb84dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <input type="email" placeholder="your@email.com" name="EMAIL" id="email-input">
      <input type="submit" class="btn" value="Sign Up" name="subscribe" id="email-submit">
    </form>

</div>
<section class="widget widget-text">
    <div class="widget-header">
      <h3>Contact Us</h3>
    </div>
    <div class="widget-content">
        If you need more information or support please contact us:
        <ul>
            <li>Email <a href="mailto:customer.service@orionrobots.co.uk" target="_blank">Customer Service</a></li>
            <li>Phone: +44 20 3290 4663</li>
        </ul>
    </div>
</section>