<div class="panel panel-default">
    <div class="panel-heading">Learn Robotics Programming</div>
    <div class="panel-body">
        <p>Time to build your own robot! Using a Raspberry Pi with parts and some time, you can use my book to learn how to make and program a robot with automatic behaviours.</p>
        <div class="center-block">
            <a target="_blank"  href="https://www.amazon.co.uk/gp/product/1789340748/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1789340748&linkCode=as2&tag=orionrobots-21&linkId=dbcece3d79a2dcded75e282d6f8de2e1"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=1789340748&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=orionrobots-21" class="img-responsive" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=orionrobots-21&l=am2&o=2&a=1789340748" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br />
            <a target="_blank" href="https://www.amazon.co.uk/gp/product/1789340748/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1789340748&linkCode=as2&tag=orionrobots-21&linkId=ad7e79900237d56b1d6c558cd2de258e">Learn Robotics Programming: Build and control autonomous robots using Raspberry Pi 3 and Python</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=orionrobots-21&l=am2&o=2&a=1789340748" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
    </div>
</div>