<div class="card">
    <div class="card-header">Robotics at Home with Raspberry Pi Pico</div>
    <div class="card-body">
        <p>Learn how to build a robot in your own home. Using hand tools, and while gaining programming and design skills you will make a robotics platform for experimentation using the popular Raspberry Pi Pico.</p>
        <div class="text-center">
            <a href="https://packt.link/5swS2">
                {% image "galleries/robotics_at_home_with_raspberry_pi_pico_cover.jpg", "Robotics at Home with Raspberry Pi Pico book cover", "300,400", "img-fluid mb-2" %}
                <br>Robotics at Home with Raspberry Pi Pico: Build autonomous robots with the versatile low-cost Raspberry Pi Pico controller and Python
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">Learn Robotics Programming 2nd Edition</div>
    <div class="card-body">
        <p>Time to build your own robot! Using a Raspberry Pi with parts and some time, you can use my book to learn how to make and program a robot with automatic behaviours.</p>
        <div class="text-center">
            <a href="https://packt.live/2XccaKe">
            {% image "galleries/learn-robotics-programming-2nd-edition/learn-robotics-programming-2nd-cover.jpg", "Learn Robotics Programming 2nd Edition cover", "300,400", "img-fluid mb-2" %}
                <br>Learn Robotics Programming 2nd Edition. Build and control autonomous robots with a Raspberry Pi and Python 3
            </a>
        </div>
    </div>
</div>
