<span id="sharing" style="overflow:visible;">Follow <a href="https://www.facebook.com/orionrobots/" class="nav-item">{% fortawesomeBrand "facebook-square", "fa-img" %} Orionrobots on Facebook</a> for updates and feedback</span>
