{% for tag in tags_list %}
  <span><a href="/tags/{{ tag | slugify }}" class="badge bg-light text-dark">{{ tag }} <span class="badge bg-info rounded-pill">{{ collections[tag] | size }}</span></a></span>
{% endfor %}
