backend:
    name: github
    repo: orionrobots/orionrobots.github.io
    branch: master
    base_url: https://github-oauth2.orionrobots.co.uk
# This line should *not* be indented (for draft/review/publish workflow)
# publish_mode: editorial_workflow 
media_folder: "galleries"
collections:
  - name: "blog"
    label: "Blog"
    folder: "_posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - label: "Layout"
        name: "layout"
        widget: "hidden"
        default: "post"
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Publish Date"
        name: "date"
        widget: "datetime"
      - label: "Description"
        name: "description"
        widget: "string"
        required: false
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: "{{fields.tag}}"
        field: { label: "Tag", name: "tag", widget: "string" }
      - label: "Category"
        name: "category"
        widget: "string"
        required: false
      - label: "Thumbnail"
        name: "thumb"
        required: false
        widget: "image"
        allow_multiple: false
      - label: "Lead image"
        name: "lead_image"
        required: false
        widget: "image"
        allow_multiple: false
      - label: "Body"
        name: "body"
        widget: "markdown"
    view_groups:
      - label: Year
        field: date
        # groups items based on the value matched by the pattern
        pattern: \d{4}
