---
layout: default
---
{% include JB/setup %}
{% include themes/orionrobots/page.html %}
<style>
    .hide-bullets {
        list-style:none;
        margin-left: -40px;
        margin-top:20px;
    }

    .thumbnail {
        width: 60px;
        height: 60px;
        overflow: hidden;
    }

    .thumbnail > img {
        height: 100%;
        margin: 0;
        padding: 0; 
        width: auto;
    }
</style>
<script>
    var images={
        {% for image in page.images %}
        "{{image.src|slugify}}": {
            caption: "{{image.caption}}", date: "{{image.date}}", src: "{{image.src}}"
        },
        {% endfor %}
    };
    $(function () {
        console.log("Started load code.");
        var current_image = $("#current-image");
        $('body').on("imageSelected", function(evt, imageId) {
            console.log("Selected " + imageId);
            var image = images[imageId];
            current_image.find("img").attr("src", image.src);
            current_image.find(".caption").html(image.caption);
            current_image.find(".date").html(image.date);
        });
        $('body').trigger("imageSelected", "{{ page.images[0].src | slugify }}");
    });
</script>
<div id="current-image">
    <img src="" class="img-responsive">
    <p>Caption: <span class="caption"></span></p>
    <p>Date:<span class="date"></span></p>
</div>
    
<div class="row" id="thumbs">
    <ul class="hide-bullets">
        {% for image in page.images %}
            <li class="col-sm-1">
                <a class="thumbnail">
                    <img src="{{image.src}}" alt="{{image.caption}}" class="img-responsive center-block"
                        onClick="$('body').trigger('imageSelected', '{{image.src|slugify}}');"/>
                </a>
            </li>   
        {% endfor %}
    </ul>
</div>
