---
theme :
  name : orionrobots
layout: common
---
<div class="row">
  <article id="col-main" class="content col-md-8">
    <div class="gcse-searchresults"></div>
    <h2 class="page-header">{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h2>
    <div class="media">
      <div class="media-left">
        {% if page.thumb %}
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
        {% endif %}
      </div>
      <div class="d-flex justify-content-between">
        {% include social-sharing.html %}
        {% unless page.tags == empty %}
            <nav><ul id="tags" class="nav nav-pills">
              {% assign tags_list = page.tags %}
              {% include JB/tags_list %}
            </ul></nav>
        {% endunless %}
      </div>
    </div>
    {{ content }}
    {% if page.comments %}
        {% include discus_thread %}
    {% endif %}

  </article>
  <aside class="col-md-4">
      {% include sidebar-book.html %}
      <div class="panel panel-default">
          <div class="panel-heading">Other places to find us</div>
          <div class="panel-body list-group">
              <a href="https://discord.gg/sMnPxFhAe2" class="list-group-item"><i class="fa fa-discord"></i> Discuss robot building on Our Discord Server!</a>
              <a href="https://www.youtube.com/channel/UCVllQ0CH357h7jTpzLB9hCA" class="list-group-item"><i class="fa fa-youtube-square"></i> Youtube</a>
              <a href="https://www.twitter.com/orionrobots" class="list-group-item"><i class="fa fa-twitter-square"></i> Twitter</a>
              <a href="https://www.facebook.com/orionrobots" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
          </div>
      </div>
      {% include sidebar_ads.html %}
  </aside>
</div>
<footer id="bottom">
  <div class="row" id="footer-left">
      <div class="co-lg-12">
    <ul id="footer-nav" class="list-unstyled">
        <a href="https://discord.gg/sMnPxFhAe2" class="list-group-item"><i class="fa fa-discord"></i> Discuss robot building on Our Discord Server!</a>
        <li><a href="https://www.youtube.com/channel/UCVllQ0CH357h7jTpzLB9hCA" class="list-group-item"><i class="fa fa-youtube-square"></i> Youtube</a></li>
        <li><a href="https://www.twitter.com/orionrobots" class="list-group-item"><i class="fa fa-twitter-square"></i> Twitter</a></li>
        <li><a href="https://www.facebook.com/orionrobots" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a></li>
        <li><a href="/privacy_and_cookies.html">Privacy and Cookies</a></li>
    </ul>
      </div>
  </div>
    <p>&copy; {{ site.time | date: '%Y' }} OrionRobots. Orionrobots is a trademark.
      with help from <a href="https://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>
    </p>
</footer>
{% if page.using_mathjax %}
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$']]
          },
          svg: {
            fontCache: 'global'
          }
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
<script>
  const newSlug = "{{ page.date | date: '%Y-%m-%d' }}-{{ page.slug }}";
  document.addEventListener("DOMContentLoaded", function(event) {
    document.addPostAdminButton(newSlug);
  });
</script>
