---
theme :
  name : orionrobots
layout: common.html
---
<div class="row">
  <article id="col-main" class="content col-md-8">
    <div class="gcse-searchresults"></div>
    <h2 class="page-header">{{ title }} {% if tagline %}<small>{{tagline}}</small>{% endif %}</h2>
    <div class="row g-0">
      {% if thumb %}
        <div class="col">
            <img src="{{ thumb }}" alt="{{ title }}">
        </div>
      {% endif %}
      <div class="col">
        {% include social-sharing %}
      </div>
      <div class="col-6">
        {% unless tags == empty %}
            <nav>
              {% assign tags_list = tags %}
              {% include tags_list %}
            </nav>
        {% endunless %}
      </div>
    </div>
    {{ content }}
    {% if comments %}
        {% include discus_thread %}
    {% endif %}

  </article>
  <aside class="col-md-4">
      {% include sidebar-book.liquid %}
      {% include sidebar_ads.html %}
  </aside>
</div>
<footer id="bottom">
  <div class="row" id="footer-left">
      <div class="co-lg-12">
    <ul id="footer-nav" class="list-unstyled">
        <a href="https://discord.gg/sMnPxFhAe2" class="list-group-item">{% fortawesomeBrand discord %} Discuss robot building on Our Discord Server!</a>
        <li><a href="https://www.youtube.com/orionrobots" class="list-group-item">{% fortawesomeBrand youtube-square %} Youtube</a></li>
        <li><a href="https://www.twitter.com/orionrobots" class="list-group-item">{% fortawesomeBrand twitter-square %} Twitter</a></li>
        <li><a href="https://www.facebook.com/orionrobots" class="list-group-item">{% fortawesomeBrand facebook-square %} Facebook</a></li>
        <li><a href="/privacy_and_cookies.html">Privacy and Cookies</a></li>
    </ul>
      </div>
  </div>
    <p>&copy; {{ page.date | date: '%Y' }} OrionRobots. Orionrobots is a trademark.
      with help from <a href="https://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>
    </p>
</footer>
{% if using_mathjax %}
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$']]
          },
          svg: {
            fontCache: 'global'
          }
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
<script>
  const newSlug = "{{ date | date: '%Y-%m-%d' }}-{{ slug }}";
  document.addEventListener("DOMContentLoaded", function(event) {
    document.addPostAdminButton(newSlug);
  });
</script>
