---
layout: default
---
<div class="row-fluid post-full">
    <div class="span12">
        <div class="date">
        <time>{{ page.date | date_to_long_string }}</time>
        </div>

        <article class="content">
        {{ content }}
        </article>

        <nav>
            <ul  class="pagination">
            {% if page.previous %}
                <li class="page-item"><a class="page-link" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">Prev</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" >Prev</a></li>
            {% endif %}
                <li class="page-item"><a class="page-link"  href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
            {% if page.next %}
                <li class="page-item"><a class="page-link"  href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" >Next</a>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>
