---
layout: page
---
<ul class="posts">
  {% assign count = 0 %}
  {% assign all_items = site.posts | concat: site.pages | sort: "date" | reverse %}

  {% for post in all_items %}
    {% if post.tags contains page.subject %}
      {% if count < 4 %} {% assign count=count | plus: 1 %}
        <li class="post_media">
          {% if post.thumb %}
            <a class="media-left" href="{{ BASE_PATH }}{{ post.url }}"><img alt="{{ post.title }}"
              class="media-object index_post_thumb" src="{{ post.thumb }}"></a>
          {% endif %}
          <div class="post-content media-body">
            <div class="media-heading"><span class="post_date">{{ post.date | date_to_string }}</span> &raquo;
              <a class="post_title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            </div>
            {% if post.excerpt %}
              <div class="clearfix post_excerpt">{{ post.excerpt }}<a href="{{ BASE_PATH }}{{ post.url }}">more...</a></div>
            {% endif %}
          </div>
          <p class="clearfix"></p>
        </li>
      {% else %}
        <li class="post_summary">
          <div class="media-heading"><span class="post_date">{{ post.date | date_to_string }}</span> &raquo;
            <a class="post_title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
          </div>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
