name: Add post

on:
  workflow_dispatch:
    inputs:
      slug:
        required: true
        description: post filename
        type: string
      title:
        required: true
        description: post title
        type: string
      content:
        required: true
        description: post content
        type: string

jobs:
  add_post:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Add post
        run: |
          file_name="_posts/$(date +%Y-dm-%d)-${POST_NAME}"
          echo "---" > $file_name.md
          echo "title: ${POST_TITLE}" >> $file_name.md
          echo "date: $(date +%Y-%m-%dT%H:%M:%S)" >> $file_name.md
          echo "---" >> $file_name.md
          echo "${POST_CONTENT}" >> $file_name.md
      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Add post $(date +%Y-%m-%dT%H:%M:%S)"
          git push origin master
