---
on:
  workflow_call:
    inputs:
      push_tag:
        description: 'Tag to push the base image with (optional)'
        required: false
        type: string

jobs:
  build_site:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      CACHE_IMAGE: orionrobots/orionrobots-site
      DOCKER_BUILDKIT: 1
      COMPOSE_DOCKER_CLI_BUILD: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build base image
        env:
          push_tag: ${{inputs.push_tag || 'temp' }}
        run: |
          docker build --target base -t "ghcr.io/orionrobots/orionrobots-site.base:${push_tag}" .

      - name: Build the site with docker compose
        run: |
          docker compose -f docker-compose.yml -f docker-compose.ci.yml run --build build

      - name: Tarball the site
        run: |
          tar -czf _site.tar.gz _site

      - name: upload site artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: _site
          path: _site.tar.gz
          if-no-files-found: error

      - name: upload httpd.conf artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: httpd.conf
          path: .github/scripts/staging/httpd.conf
          if-no-files-found: error

      - name: Push base image
        if: inputs.push_tag
        env:
          push_tag: ${{inputs.push_tag }}
        run: |
          docker push "ghcr.io/orionrobots/orionrobots-site.base:${push_tag}"
