---
on:
  workflow_call:

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - run: |
          npm ci

      - name: Build webpack dist
        run: |
          npm install
          npm run dist

      - name: Build site
        run: |
          npm run 11ty

      - name: Tarball the site
        run: |
          tar -czf _site.tar.gz _site

      - name: upload site artifact
        uses: actions/upload-artifact@v3
        with:
          name: _site
          path: _site.tar.gz
          if-no-files-found: error

      - name: upload httpd.conf artifact
        uses: actions/upload-artifact@v3
        with:
          name: httpd.conf
          path: _drafts/staging/httpd.conf
          if-no-files-found: error
