---
on:
  workflow_call:

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build the site with docker
        run: |
          docker-compose --build build

      - name: Tarball the site
        run: |
          tar -czf _site.tar.gz _site

      - name: upload site artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: _site
          path: _site.tar.gz
          if-no-files-found: error

      - name: upload httpd.conf artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: httpd.conf
          path: _drafts/staging/httpd.conf
          if-no-files-found: error
