---
on:
  workflow_call:

jobs:
  staging_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Fetch site artifact
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: _site
      - name: extract site artifact
        run: |
          tar -xzf _site.tar.gz
      - name: Prepare for docker build
        run: |
          cp _drafts/staging/Dockerfile _site/
          cp _drafts/staging/http2.conf _site/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the container
        uses: docker/build-push-action@v6
        with:
          context: "_site"
          tags: orionrobots:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          load: true

      - name: Run as service and test
        run: |
          docker run --rm -d -p8080:80 --name orionrobots orionrobots:latest
          # Wait for the service to start
          sleep 10
          curl -I -L -f http://localhost:8080/
          curl -I -L -f http://localhost:8080/construction_guide.html
          curl -I -L -f http://localhost:8080/wiki/lego
          docker stop orionrobots
