---
on:
  workflow_call:
    inputs:
      push_tag:
        description: 'Tag to push the base image with (optional)'
        required: false
        type: string

jobs:
  build_site:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      CACHE_IMAGE: orionrobots/orionrobots-site
      DOCKER_BUILDKIT: 1
      COMPOSE_DOCKER_CLI_BUILD: 1
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build base image
        run: |
          docker build --target base -t ghcr.io/orionrobots/orionrobots-site.base:${{ inputs.push_tag || 'temp' }} .

      - name: Build the site with docker compose
        run: |
          docker compose -f docker-compose.yml -f docker-compose.ci.yml run --build build

      - name: Tarball the site
        run: |
          tar -czf _site.tar.gz _site

      - name: upload site artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: _site
          path: _site.tar.gz
          if-no-files-found: error

      - name: upload httpd.conf artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: httpd.conf
          path: .github/scripts/staging/httpd.conf
          if-no-files-found: error

      - name: Push base image
        if: inputs.push_tag
        run: |
          docker push ghcr.io/orionrobots/orionrobots-site.base:${{ inputs.push_tag }}
