---
on:
  workflow_call:

jobs:
  build_site:
    runs-on: ubuntu-latest
    # container:
    #   image: jekyll/builder:4
    steps:
      - uses: actions/checkout@v3

      - name: Build container
        # Todo: when Dockerfile changed. Otherwise, use the last built image.
        run: |
          docker build -t orionrobots_builder .

      - name: Build webpack dist
        run: |
          npm install
          npm run dist

      - name: Build site
        run: |
          docker run --rm -v $PWD:/srv/jekyll orionrobots_builder jekyll build

      # - name: Setup dependencies
      #   run: |
      #     apk add imagemagick
      #     gem install jekyll-toc rmagick
      # - name: build
      #   run: |
      #     chown jekyll . -R
      #     mkdir .jekyll-cache
      #     jekyll build
      - name: Tarball the size
        run: |
          tar -czf _site.tar.gz _site
      - name: upload site artifact
        uses: actions/upload-artifact@v3
        with:
          name: _site
          path: _site.tar.gz
          if-no-files-found: error
      - name: upload httpd.conf artifact
        uses: actions/upload-artifact@v3
        with:
          name: httpd.conf
          path: _drafts/staging/httpd.conf
          if-no-files-found: error
