---
name: "On PR Lint"
on:
  pull_request:
    branches:
      - master

jobs:
  check_dependabot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6.0.1

      - name: Check Changes
        id: changed-env
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            .github/dependabot.yml

      - if: |
          steps.changed-env.outputs.any_modified == 'true'
        run: |
          npx -y @bugron/validate-dependabot-yaml@latest

  lint_cupcake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Lint Code Base
        continue-on-error: true
        uses: oxsecurity/megalinter/flavors/cupcake@v9.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
