---
name: "On PR Lint"
on:
  pull_request:
    branches:
      - master

jobs:
  check_dependabot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6.0.2

      - name: Check Changes
        id: changed-env
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v47.0.2
        with:
          files: |
            .github/dependabot.yml

      - if: |
          steps.changed-env.outputs.any_modified == 'true'
        run: |
          npx -y @bugron/validate-dependabot-yaml@latest

  lint_cupcake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Lint Code Base
        continue-on-error: true
        uses: oxsecurity/megalinter/flavors/cupcake@v9.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
