name: Build, test and deploy

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build_site:
    runs-on: ubuntu-latest
    container:
      image: jekyll/builder:4
    steps:
      - uses: actions/checkout@v2
      - name: Setup dependencies
        run: |
          touch new_file
          mkdir new_folder
          
          apk add imagemagick
          gem install jekyll-toc rmagick
      - name: build
        run: |
          mkdir .jekyll-cache
          jekyll build
      - name: upload site artifact
        uses: actions/upload-artifact@v3
        with: 
          name: _site
          when: on_success
      - name: upload httpd.conf artifact
        uses: actions/upload-artifact@v3
        with: 
          name: httpd.conf
          path: _drafts/staging/httpd.conf
          when: on_success

  staging_test:
    runs-on: ubuntu-latest
    needs: build_site
    steps:
      - uses: actions/checkout@v2
      - name: Fetch site artifact
        uses: actions/download-artifact@v3
        with:
          name: _site
      - name: Fetch httpd conf artifact
        uses: actions/download-artifact@v3
        with:
          name: httpd.conf
          path: _drafts/staging/httpd.conf
      - name: Prepare for docker build
        run: |
          cp _drafts/staging/Dockerfile _site/
          cp _drafts/staging/http2.conf _site/
          cd _site/
          mv htaccess .htaccess

      - name: Build
        uses: docker/build-push-action@v3
        with: 
          context: "{{defaultContext}}:_site"
          push: false
          tags: "orionrobots:latest"

      - name: Run as service and test
        run: |
          docker run --rm -d --name orionrobots orionrobots:latest
          # Wait for the service to start
          sleep 10
          curl -I -L -f http://site/
          curl -I -L -f http://site/construction_guide.html 
          curl -I -L -f http://site/wiki/lego
          docker stop orionrobots

  deploy:
    runs-on: ubuntu-latest
    needs: staging_test
    steps:
      - name: Fetch site artifact
        uses: actions/download-artifact@v3
        with:
          name: _site
      - name: Fetch httpd conf artifact
        uses: actions/download-artifact@v3
        with:
          name: httpd.conf
          path: _drafts/staging/httpd.conf
      # Sync the files
      - name: Install and prepare rsync
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avv
          path: _site/
          remote_path: public_html
          remote_host: ${{ secrets.ORIONROBOTS_DEPLOY_HOST }}
          remote_user: ${{ secrets.ORIONROBOTS_DEPLOY_USER }}
          remote_key: ${{ secrets.ORIONROBOTS_DEPLOY_KEY }}
      - name: Copy over the htaccess file
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avv
          path: _site/htaccess
          remote_path: public_html/.htaccess
          remote_host: ${{ secrets.ORIONROBOTS_DEPLOY_HOST }}
          remote_user: ${{ secrets.ORIONROBOTS_DEPLOY_USER }}
          remote_key: ${{ secrets.ORIONROBOTS_DEPLOY_KEY }}
      # Checks
      - name: Check if the site is up
        run: |
          curl -I -L -f https://orionrobots.co.uk/
          curl -I -L -f https://orionrobots.co.uk/construction_guide.html 
          curl -I -L -f https://orionrobots.co.uk/wiki/lego
      
